isaac-app/src/main/resources/xsd/AppConfigSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
  elementFormDefault="qualified">


<!-- Version 2015/03/18 -->
<!-- 
  Changelog:
  2015/03/18 - Removing unused items, updating some docs.
  2014/12/20 - Removing things that should be read from other config files.
  2014/11/04 - Added changeSetUrlType 
  2014/10/08 - Aligned with archetype properties
  2014/09/30 - Initial version
 -->

  <!-- Note that JAXB is broken (has been forever) and doesn't properly create javadocs from <documentation> tags like it should for elements...
  the only real workaround is to duplicate all the doc... which is stupid... but what can you do. -->

  <xs:element name="isaacAppConfig">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="archetypeGroupId" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>An optional field the specifies what archetype artifact produced this application bundle</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>An optional field the specifies what archetype artifact produced this application bundle</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="archetypeArtifactId" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>An optional field the specifies what archetype artifact produced this application bundle</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>An optional field the specifies what archetype artifact produced this application bundle</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="archetypeVersion" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>An optional field the specifies what archetype artifact produced this application bundle</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>An optional field the specifies what archetype artifact produced this application bundle</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="applicationTitle" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The text string that is displayed in the ISAAC title bar, about box, and other typical locations.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The text string that is displayed in the ISAAC title bar, about box, and other typical locations.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="changeSetUrl" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The SVN or GIT URL that will be used to synchronize user profiles and changesets for this bundle.  With SSH urls, such as 
                  "ssh://someuser@csfe.aceworkspace.net..." the contents between 'ssh://' and '@' will be replaced with the currently logged in user's 
                  syncUserName - as specified in that users profile.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The SVN or GIT URL that will be used to synchronize user profiles and changesets for this bundle.  With SSH urls, such as 
                  "ssh://someuser@csfe.aceworkspace.net..." the contents between 'ssh://' and '@' will be replaced with the currently logged in user's 
                  syncUserName - as specified in that users profile.</xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="changeSetUrlType" type="changeSetSCMType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>Specifies the type of source control system that should be used with the changeSetUrl</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>Specifies the type of source control system that should be used with the changeSetUrl</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="workflowServerUrl" type="xs:anyURI" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The full URL for the REST API of the KIE Workflow server.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The full URL for the REST API of the KIE Workflow server.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="workflowServerDeploymentId" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The deployment ID for the KIE workflow server</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The deployment ID for the KIE workflow server</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="defaultEditPathName" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>Default edit path name.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>Default edit path name.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="defaultEditPathUuid" type="UUID" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>Default edit path uuid.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>Default edit path uuid.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="defaultViewPathName" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>Default view path name.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>Default view path name.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="defaultViewPathUuid" type="UUID" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>Default view path uuid.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>Default view path uuid.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="workflowPromotionPathName" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The workflow promotion path name</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The worfklow promotion path name</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="workflowPromotionPathUuid" type="UUID" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <jxb:property>
                <jxb:javadoc>The UUID for the Path to which content published via Workflow will automatically be promoted to.</jxb:javadoc>
              </jxb:property>
            </xs:appinfo>
            <xs:documentation>The UUID for the Path to which content published via Workflow will automatically be promoted to.</xs:documentation>
          </xs:annotation>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="changeSetSCMType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GIT" />
      <xs:enumeration value="SVN" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="UUID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  
	<!-- TODO - convert the path stuff up above over to a concept spec, rather than this pair of values stuff we have now...
	However, none of these paths should be necessary / required anyway - they should simply be marked as default when the DB is built
	and the runtime can read the default paths from the DB.  The way it is defined here, it is impossible to create correctly anyway
	because the DB build generates the UUIDs... they are not prespecified - so we won't know what they are until we launch the app...
	but we can't build the app without specifying these paths.  The easieast solution it to simply get rid of them.  This is yet another
	thing that we should not have to manually configure multiple times. -->
	<!--xs:element name="conceptSpec">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FSN" type="xs:string" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>The FSN for the concept</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
						<xs:documentation>The FSN for the concept</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UUID" type="UUID" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:appinfo>
							<jxb:property>
								<jxb:javadoc>The UUID for the concept</jxb:javadoc>
							</jxb:property>
						</xs:appinfo>
						<xs:documentation>The UUID for the concept</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element-->

</xs:schema>
